/* //animate__animated animate__fadeIn */
#cards{
    animation: fadeIn;
    animation-duration: 1s;
}

#heroImg{
    animation: fadeInLeft;
    animation-duration: 1s;
}

#errorAlert{
    animation: shakeX;
    animation-duration: 0.3s;
}

#searchAlert{
    animation: fadeIn;
    animation-duration: 0.3s;
}